fastapi
uvicorn
pydantic
pydantic-settings
httpx
xgboost
scikit-learn
pandas
numpy
python-multipart
python-dotenv
requests
httpx
playwright
playwright-stealth
jinja2
sqlalchemy
psycopg2-binary
apscheduler
